@model ProductsListViewModel

@{
    ViewBag.Title = "Products";
}
<div class="container row">
    <div class="col-md-3 p-3">
        <vc:navigation category-id="@Model.CurrentCategoryId" />
    </div>
    <div class="pd-3 col-md-9">
        @foreach (var p in Model.Products)
        {
            <partial name="_ProductSummary" model="p" />
        }
        <div>
            <page-link paging-info="Model.PagingInfo" category-id="Model.CurrentCategoryId" page-action="List"></page-link>
        </div>
    </div>

</div>

