@using Microsoft.AspNetCore.Identity
@using BookStore.Domain.Entities
@using BookStore.Domain.Concrete
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Manage/CartPage" class="nav-link btn btn-link">
                <i class="bi bi-cart-fill icon"></i>Cart
            </a>
        </li>
        <li class="nav-item">
            <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link btn btn-link" title="Manage">
                <i class="bi bi-person-fill icon"></i> @UserManager.GetUserName(User)
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
