@model Product

<div class="item">
    <p>
        <h3>@Model.Name</h3>
        (@Model.Category.Name)
        <h4>@Model.Price.ToString("c")</h4> 
    </p>
    <div class="item">
        <form asp-controller="Cart" asp-action="AddToCart" asp-route-returnUrl="@Url.Action("List", "Product", new { area = "" })">
            <input asp-for="Id" type="hidden" />
            <input type="submit" value="+ Add to cart" />
        </form>
    </div>
</div>
